<h1>My Account</h1>

<table>
	<tr>
		<td>Name</td>
		<td><%= @user.name %></td>
	</tr>
	<tr>
		<td>Email</td>
		<td><%= @user.email if @user.email %></td>
	</tr>
	<tr>
	<td>Shortened URLs</td>
	<td><%= @url_count if @url_count %></td>
	</tr>
</table>

<br />

<%= link_to "Edit", edit_user_registration_path %>